STAGE=dev # dev|prod
TELEGRAM_API_TOKEN=

# Local development
AWS_ACCESS_KEY_ID=  # for local dynamodb, e.g. "local"
AWS_DEFAULT_REGION=  # to avoid "MissingRegion" error when using local dynamodb
AWS_SECRET_ACCESS_KEY=  # for local dynamodb, e.g. "local"
DB_URL=  # for local dynamodb, e.g. http://localhost:8000
PYTHONDONTWRITEBYTECODE=1
